.kotak-kuning {
  position: absolute;
  z-index: 5;

  background: yellow;
  top: 15px;
  left: 100px;
  padding: 40px 20px 40px 120px;
}
.block {
  position: absolute;
  padding: 20px;
}
.kotak-biru {
  z-index: 4;
  top: 40px;
  left: 80px;
  background: #3b82f6;
}
.kotak-hijau {
  z-index: 2;
  top: 80px;
  left: 60px;
  background: #10b981;
}
